<div class="container">
  <br/>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm" method="get" action="/">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" required="required" name="repo" placeholder="Search Github topics or keywords">
          </div>
          <div class="col-auto">
            <button class="btn btn-lg btn-info" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> <br>

<h1 class="text-center"><%=@message if @message.present? %></h1>

<h5> Showing &nbsp;<%= @total_count %> &nbsp; Result(s) for "<%= params[:repo] || '' %>" </h5>

<div class="container">
  <div class="row">
    <% if @parsed_response && @parsed_response["items"].present? %>
      <% @parsed_response["items"].each_with_index do |x,i|%>
        <div class="col-4">
            <div class="card">
              <a href="<%=@parsed_response["items"][i]["html_url"] %>">
                <img src="<%=@parsed_response["items"][i]["owner"]["avatar_url"] %>" class="card-img-top" alt="...">
              </a>
              <div class="card-body">
                <h5 class="card-title"><%= @parsed_response["items"][i]["name"].upcase %></h5>
                <p class="card-text"><%= @parsed_response["items"][i]["description"].present? ? @parsed_response["items"][i]["description"][0..30] : '...'%> ...</p>
                <a href="<%=@parsed_response["items"][i]["html_url"] %>" class="btn btn-info">
                  <i class="fab fa-github"></i>
                </a>
                <a href="#" class="btn btn-info">
                  <i class="fas fa-star"></i> <%=@parsed_response["items"][i]["stargazers_count"]%>
                </a>
                <a href="#" class="btn btn-info">
                  <i class="fas fa-code-branch"></i> <%=@parsed_response["items"][i]["forks"]%>
                </a>
              </div>
            </div> <br>
        </div>
      <%end%>
      <% if @paginatable_array.present? %>
        <%= paginate @paginatable_array, theme: 'twitter-bootstrap-4' %>
      <% end %>
    <%end%>
  </div>
</div>




